<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico">
    <link rel="stylesheet" href="/css/app.css">
    <title>R-T Pizza</title>
    
</head>

<body>

    <nav class="container mx-auto flex items-center justify-between py-4">
        <div>
            <a href="/"><img class="h-20 mb-4 mx-auto" src="/img/logo.png" alt="logo"></a>
        </div>
        <div>
            <ul class="flex items-center">
                <li class="ml-6"><a href="#">Menu</a></li>
                <li class="ml-6"><a href="#">Offers</a></li>
                <% if(user){ %> 
                <li class="ml-6">
                    <form id="logout" action="/logout" method="POST"></form>
                    <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                </li>
                <% }else{ %> 
                <li class="ml-6"><a href="/register">Register</a></li>
                <li class="ml-6"><a href="/login">Login</a></li>
                <% } %> 
                <li class="ml-6"><a href="/card" class="inline-block px-4 py-2 rounded-full flex items-center">
                    <span id="cardCounter" class="text-white font-bold pr-2"><%= session.card ? session.card.totalQty : '' %> </span>
                    <img class="h-10" src="/img/card.svg" alt="">
                </a></li>
            </ul>
        </div>
    </nav>
<%- body %> 

<script src="/js/app.js"></script>
</body>

</html>